body {
    background-color: #f1f1f1;
}
#container {
    padding-top: 10%;
    width: 50%;
    margin: auto;
    position: relative;
}
.green_doted {
    color: #137600;
    border-bottom: 1px dotted #137600;
    position: relative;
}
.form_div {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 5%;
    box-shadow: 0 0 5px 3px rgba(122,122,122,0.5);
}
.form {
    padding-left: 30px;
    padding-right: 30px;
}
#hide-design {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 10%;
    box-shadow: 0 0 5px 3px rgba(122,122,122,0.5);
    padding-bottom: 20px;
}
#design {
    padding: 5%;
    height: 300px;
}
.table  {
    width: 100%;
    border-spacing: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: 1px solid;
}
.table td, .table th {
  padding: 5px;
  border-left: 1px solid;
  border-top: 1px solid;
}
.table th {
  border-top: none;
}
.table td:first-child, .table th:first-child {
  border-left: none;
}
.btn {
    margin: 10px;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    background-color: #19cbac;
    background: linear-gradient(to top, #00bd9f, #19cbac);
    color: white;
    font-size: 17px;
    border: none;
    box-shadow: 0 -3px rgb(53,167,110) inset;
}
.btn:hover {
    cursor: pointer;
}
.button {
    text-align: center;
}
/*таблица редактирования введенных данных*/
#edit_hide_div {
    display: none;
    position: absolute;
    background-color: white;
    top: 10%;
    box-shadow: 0 0 5px 3px rgba(122,122,122,0.5);
    padding-bottom: 20px;
}
#table_first_step {
    border-bottom: solid green;
    color: green;
}
#table_second_step {
    border-bottom: 1px solid grey;
}
#table_third_step {
    border-bottom: 1px solid grey;
}
.first_column {
    width: 50%;
}
.second_column {
    width: 40%;
}
.third_column {
    padding-left: 10px;
    width: 10%;
    font-size: 11px;
    color: grey;
}
table input{
    width: 100%;
    position: relative;
}
#datepicker {
    width: 40%;
}
.vert_center {
    vertical-align: middle;
}
#error_div {
    background-color: darkred;
    padding: 10px;
}
#error_div:before {
    content: "";
    width: 0;
    height: 0;
    top: 38px;
    position: absolute;
    border-top: 20px solid darkred;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.green_doted:hover {
    cursor: pointer;
}
#files {
    display: none;
}
#download_files {
    margin-left: 30px
}
hr {
    border: none;
    color: #f0f0f0;
    background-color: #f0f0f0;
    height: 1px;
}