body {
    background-color: #f1f1f1;
}
#container {
    width: 70%;
    margin: auto;
    position: relative;
}
#tel {
    background-image: url('../img/bel-flag.png');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 28px;
    width: 50%;
}
#first_step {
    display: block;
}
.form {
    padding-left: 30px;
    padding-right: 30px;
}
#table_card {
    width: 100%;
}
#second_step,
#third_step {
    display: none;
}
#form_block {
    background-color: white;
    float: left;
    width: 70%;
    box-shadow: 0 0 5px 3px rgba(122,122,122,0.5);
}
#chat_block {
    background-color: white;
    float: right;
    width: 25%;
    box-shadow: 0 0 5px 3px rgba(122,122,122,0.5);
    position: relative;
}
.header {
    border-collapse: collapse;
    color: black;
    text-align: center;
    width: 100%;
}
#table_first_step {
    border-bottom: solid #19CBAC;
    color: #19CBAC;
}
#table_second_step {
    border-bottom: 1px solid #f0f0f0;
}
#table_third_step {
    border-bottom: 1px solid #f0f0f0;
}
.first_column {
    width: 50%;
}
.second_column {
    width: 40%;
}
.third_column {
    padding-left: 10px;
    width: 10%;
    font-size: 11px;
    color: grey;
}
table input{
    width: 100%;
    position: relative;
}
table textarea {
    width: 100%;
}
.radio {
    width: 15%;
}
#datepicker {
    width: 40%;
}
.vert_center {
    vertical-align: middle;
}
.table  {
    width: 100%;
    border-spacing: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: 1px solid;
}
.table td, .table th {
  padding: 5px;
  border-left: 1px solid;
  border-top: 1px solid;
}
.table th {
  border-top: none;
}
.table td:first-child, .table th:first-child {
  border-left: none;
}

#error_div {
    background-color: darkred;
    padding: 10px;
}
#error_div:before {
    content: "";
    width: 0;
    height: 0;
    top: 38px;
    position: absolute;
    border-top: 20px solid darkred;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.green_doted {
    color: #137600;
    border-bottom: 1px dotted #137600;
    position: relative;
}
.green_doted:hover {
    cursor: pointer;
}
.del_green_doted {
    color: black;
    border-bottom: none;
}
#extra_div {
    display: none;
    position: absolute;
    height: 300px;
    width: 280px;
    overflow: auto;
    background-color: #636363;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    z-index: 1;
}
#extra_div:before {
    content: "";
    width: 0;
    height: 0;
    top: 150px;
    right: 100%;
    position: absolute;
    border-top: 15px solid transparent;
    border-right: 20px solid red;
    border-bottom: 15px solid transparent;
}
.extra_title {
    color: #bfbfbf;
    font-size: 13px;
}
#extra_table {
    border-spacing: 5px;
}
#extra_table td {
    border: none;
}
.extra_content {
    color: white;
    font-size: 16px;
}
#div_card_data {
    display: none;
}
#modal {
    display: none;
    background-color: #ffffff;
    position: absolute;
    width: 350px;
    height: 150px;
    padding: 5%;
    text-align: center;
    box-shadow: 0 0 5px 3px rgba(122,122,122,0.5);
}
.btn {
    margin: 10px;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    background-color: #19cbac;
    background: linear-gradient(to top, #00bd9f, #19cbac);
    color: white;
    font-size: 17px;
    border: none;
    box-shadow: 0 -3px rgb(53,167,110) inset;
}
.btn:hover {
    cursor: pointer;
}
.button {
    text-align: center;
    vertical-align: top;
}
#message_textarea {
    margin-left: 5%;
    max-width: 80%;
    max-height: 30px;
    resize: none;
    border: none;
    float: left;
}
#send {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 7%;
    background-color: yellow;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    position: relative;
}
#image_arrow_div {
    float: left;
    height: 50%;
    position: absolute;
    left: 8px;
    top: 5px;
}
.circle {
    margin-left: 20px;
    height: 30px;
    width: 30px;
    float: left;
    background-image: url("../img/anna.png");
    background-repeat: no-repeat;
    border: 1px solid grey;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
}
.message {
    min-width: 64%;
    max-width: 65%;
    float: right;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    margin: 0 10px 10px 0;
    padding: 7px;
}
#online_head_chat p {
    padding: 3px 0 0 65px;
}
#message_block {
    position: relative;
}
#hide_block_for_input {
    position: absolute;
    bottom: 0;
}
#input_text_block {
    width: 100%;
}
hr {
    border: none;
    color: #f0f0f0;
    background-color: #f0f0f0;
    height: 1px;
}